<p align=center><img src=https://d31uz8lwfmyn8g.cloudfront.net/Assets/logo-henry-white-lg.png><p>

# <h1 align=center> **PROYECTO INDIVIDUAL NÂº1** </h1>

# <h1 align=center>**`ETL-items`**</h1>

## Importamos las librerias que necesitamos para el ETL

In [1]:
import pandas as pd  
import numpy as np
import ast
import json

In [3]:
items = []
with open("users_items.json", "r", encoding="utf-8") as f: # Abrimos el archivo 
    for line in f.readlines():                  # creamos un for para guardar linea por linea en una lista
        items.append(ast.literal_eval(line))

df= pd.DataFrame(items)  # la lista la convertimos en un DataFrame

In [4]:
df.head(1) # verificamos que se haya pasado correctamente, vemos que la columna items esta anidada

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."

In [5]:
df.info() # observamos la info del DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [6]:
df.isnull().sum() # observamos si encontramos nulos

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [27]:
df["items"][0] # observamos que hay dentro de la columna items

[{'item_id': '10',
  'item_name': 'Counter-Strike',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '20',
  'item_name': 'Team Fortress Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '30',
  'item_name': 'Day of Defeat',
  'playtime_forever': 7,
  'playtime_2weeks': 0},
 {'item_id': '40',
  'item_name': 'Deathmatch Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50',
  'item_name': 'Half-Life: Opposing Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '60',
  'item_name': 'Ricochet',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70',
  'item_name': 'Half-Life',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '130',
  'item_name': 'Half-Life: Blue Shift',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '300',
  'item_name': 'Day of Defeat: Source',
  'playtime_forever': 4733,
  'playtime_2weeks': 0},
 {'item_id': '240',
  'item_name': 'Counter-Strike: Source',
  'playtime_forever': 1853,
  'playtime_2weeks': 0},
 {'item_id': '3830',
  'item_name': 'Psychonauts',
  'playtime_forever': 333,
  'playtime_2weeks': 0},
 {'item_id': '2630',
  'item_name': 'Call of Duty 2',
  'playtime_forever': 75,
  'playtime_2weeks': 0},
 {'item_id': '3900',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 338,
  'playtime_2weeks': 0},
 {'item_id': '34440',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3920',
  'item_name': "Sid Meier's Pirates!",
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '6400',
  'item_name': 'Joint Task Force',
  'playtime_forever': 286,
  'playtime_2weeks': 0},
 {'item_id': '6910',
  'item_name': 'Deus Ex: Game of the Year Edition',
  'playtime_forever': 2685,
  'playtime_2weeks': 0},
 {'item_id': '7670',
  'item_name': 'BioShock',
  'playtime_forever': 633,
  'playtime_2weeks': 0},
 {'item_id': '409710',
  'item_name': 'BioShock Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '220',
  'item_name': 'Half-Life 2',
  'playtime_forever': 696,
  'playtime_2weeks': 0},
 {'item_id': '320',
  'item_name': 'Half-Life 2: Deathmatch',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '340',
  'item_name': 'Half-Life 2: Lost Coast',
  'playtime_forever': 37,
  'playtime_2weeks': 0},
 {'item_id': '360',
  'item_name': 'Half-Life Deathmatch: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '380',
  'item_name': 'Half-Life 2: Episode One',
  'playtime_forever': 168,
  'playtime_2weeks': 0},
 {'item_id': '400',
  'item_name': 'Portal',
  'playtime_forever': 173,
  'playtime_2weeks': 0},
 {'item_id': '420',
  'item_name': 'Half-Life 2: Episode Two',
  'playtime_forever': 323,
  'playtime_2weeks': 0},
 {'item_id': '9340',
  'item_name': 'Company of Heroes: Opposing Fronts',
  'playtime_forever': 692,
  'playtime_2weeks': 0},
 {'item_id': '228200',
  'item_name': 'Company of Heroes (New Steam Version)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '11450',
  'item_name': 'Overlord',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '7940',
  'item_name': 'Call of Duty 4: Modern Warfare',
  'playtime_forever': 1185,
  'playtime_2weeks': 0},
 {'item_id': '4700',
  'item_name': 'Medieval II: Total War',
  'playtime_forever': 477,
  'playtime_2weeks': 0},
 {'item_id': '12900',
  'item_name': 'Audiosurf',
  'playtime_forever': 115,
  'playtime_2weeks': 0},
 {'item_id': '13250',
  'item_name': 'Unreal Gold',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '16100',
  'item_name': 'Virtual Villagers: A New Home',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15700',
  'item_name': "Oddworld: Abe's Oddysee",
  'playtime_forever': 28,
  'playtime_2weeks': 0},
 {'item_id': '15710',
  'item_name': "Oddworld: Abe's Exoddus",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17330',
  'item_name': 'Crysis Warhead',
  'playtime_forever': 31,
  'playtime_2weeks': 0},
 {'item_id': '17340',
  'item_name': 'Crysis Wars',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22000',
  'item_name': 'World of Goo',
  'playtime_forever': 195,
  'playtime_2weeks': 0},
 {'item_id': '500',
  'item_name': 'Left 4 Dead',
  'playtime_forever': 513,
  'playtime_2weeks': 0},
 {'item_id': '4560',
  'item_name': 'Company of Heroes',
  'playtime_forever': 1061,
  'playtime_2weeks': 0},
 {'item_id': '17460',
  'item_name': 'Mass Effect',
  'playtime_forever': 1613,
  'playtime_2weeks': 0},
 {'item_id': '10500',
  'item_name': 'Empire: Total War',
  'playtime_forever': 186,
  'playtime_2weeks': 0},
 {'item_id': '24740',
  'item_name': 'Burnout Paradise: The Ultimate Box',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22200',
  'item_name': 'Zeno Clash',
  'playtime_forever': 271,
  'playtime_2weeks': 0},
 {'item_id': '26800',
  'item_name': 'Braid',
  'playtime_forever': 445,
  'playtime_2weeks': 0},
 {'item_id': '1250',
  'item_name': 'Killing Floor',
  'playtime_forever': 10006,
  'playtime_2weeks': 0},
 {'item_id': '35420',
  'item_name': 'Killing Floor Mod: Defence Alliance 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3590',
  'item_name': 'Plants vs. Zombies: Game of the Year',
  'playtime_forever': 4413,
  'playtime_2weeks': 0},
 {'item_id': '8880',
  'item_name': 'Freedom Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8890',
  'item_name': 'Freedom Force vs. the 3rd Reich',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '23120',
  'item_name': 'Droplitz',
  'playtime_forever': 53,
  'playtime_2weeks': 0},
 {'item_id': '35700',
  'item_name': 'Trine',
  'playtime_forever': 199,
  'playtime_2weeks': 0},
 {'item_id': '10140',
  'item_name': '3D Ultra Minigolf Adventures Deluxe',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '35010',
  'item_name': 'Batman: Arkham Asylum',
  'playtime_forever': 570,
  'playtime_2weeks': 0},
 {'item_id': '35140',
  'item_name': 'Batman: Arkham Asylum GOTY Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '29180',
  'item_name': 'Osmos',
  'playtime_forever': 940,
  'playtime_2weeks': 0},
 {'item_id': '15520',
  'item_name': 'AaAaAA!!! - A Reckless Disregard for Gravity',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '32370',
  'item_name': 'STAR WARSâ¢: Knights of the Old Republicâ¢',
  'playtime_forever': 5,
  'playtime_2weeks': 0},
 {'item_id': '37700',
  'item_name': 'Darkest of Days',
  'playtime_forever': 782,
  'playtime_2weeks': 0},
 {'item_id': '6020',
  'item_name': 'STAR WARSâ¢ Jedi Knight: Jedi Academyâ¢',
  'playtime_forever': 77,
  'playtime_2weeks': 0},
 {'item_id': '24860',
  'item_name': 'Battlefield 2',
  'playtime_forever': 437,
  'playtime_2weeks': 0},
 {'item_id': '39530',
  'item_name': 'Painkiller: Black Edition',
  'playtime_forever': 503,
  'playtime_2weeks': 0},
 {'item_id': '550',
  'item_name': 'Left 4 Dead 2',
  'playtime_forever': 1474,
  'playtime_2weeks': 0},
 {'item_id': '223530',
  'item_name': 'Left 4 Dead 2 Beta',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8980',
  'item_name': 'Borderlands',
  'playtime_forever': 3061,
  'playtime_2weeks': 0},
 {'item_id': '41500',
  'item_name': 'Torchlight',
  'playtime_forever': 536,
  'playtime_2weeks': 0},
 {'item_id': '20900',
  'item_name': 'The Witcher: Enhanced Edition',
  'playtime_forever': 139,
  'playtime_2weeks': 0},
 {'item_id': '10180',
  'item_name': 'Call of Duty: Modern Warfare 2',
  'playtime_forever': 1886,
  'playtime_2weeks': 0},
 {'item_id': '10190',
  'item_name': 'Call of Duty: Modern Warfare 2 - Multiplayer',
  'playtime_forever': 1784,
  'playtime_2weeks': 0},
 {'item_id': '17450',
  'item_name': 'Dragon Age: Origins',
  'playtime_forever': 4431,
  'playtime_2weeks': 0},
 {'item_id': '3170',
  'item_name': "King's Bounty: Armored Princess",
  'playtime_forever': 1021,
  'playtime_2weeks': 0},
 {'item_id': '25900',
  'item_name': "King's Bounty: The Legend",
  'playtime_forever': 1389,
  'playtime_2weeks': 0},
 {'item_id': '31410',
  'item_name': 'Zombie Driver',
  'playtime_forever': 95,
  'playtime_2weeks': 0},
 {'item_id': '24980',
  'item_name': 'Mass Effect 2',
  'playtime_forever': 5001,
  'playtime_2weeks': 0},
 {'item_id': '8850',
  'item_name': 'BioShock 2',
  'playtime_forever': 1504,
  'playtime_2weeks': 0},
 {'item_id': '409720',
  'item_name': 'BioShock 2 Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '46000',
  'item_name': 'Bob Came in Pieces',
  'playtime_forever': 11,
  'playtime_2weeks': 0},
 {'item_id': '33230',
  'item_name': "Assassin's Creed II",
  'playtime_forever': 1636,
  'playtime_2weeks': 0},
 {'item_id': '20820',
  'item_name': 'Shatter',
  'playtime_forever': 46,
  'playtime_2weeks': 0},
 {'item_id': '47700',
  'item_name': 'Command and Conquer 4: Tiberian Twilight',
  'playtime_forever': 85,
  'playtime_2weeks': 0},
 {'item_id': '24960',
  'item_name': 'Battlefield: Bad Company 2',
  'playtime_forever': 5716,
  'playtime_2weeks': 0},
 {'item_id': '43110',
  'item_name': 'Metro 2033',
  'playtime_forever': 834,
  'playtime_2weeks': 0},
 {'item_id': '8190',
  'item_name': 'Just Cause 2',
  'playtime_forever': 3083,
  'playtime_2weeks': 0},
 {'item_id': '49600',
  'item_name': 'Beat Hazard',
  'playtime_forever': 127,
  'playtime_2weeks': 0},
 {'item_id': '31220',
  'item_name': 'Sam & Max 301: The Penal Zone',
  'playtime_forever': 71,
  'playtime_2weeks': 0},
 {'item_id': '31230',
  'item_name': 'Sam & Max 302: The Tomb of Sammun-Mak',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31240',
  'item_name': "Sam & Max 303: They Stole Max's Brain!",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31250',
  'item_name': 'Sam & Max 304: Beyond the Alley of the Dolls',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31260',
  'item_name': 'Sam & Max 305: The City that Dares not Sleep',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '21090',
  'item_name': 'F.E.A.R.',
  'playtime_forever': 585,
  'playtime_2weeks': 0},
 {'item_id': '21110',
  'item_name': 'F.E.A.R.: Extraction Point',
  'playtime_forever': 146,
  'playtime_2weeks': 0},
 {'item_id': '21120',
  'item_name': 'F.E.A.R.: Perseus Mandate',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49400',
  'item_name': 'Magic: The Gathering - Duels of the Planeswalkers',
  'playtime_forever': 32,
  'playtime_2weeks': 0},
 {'item_id': '33910',
  'item_name': 'Arma 2',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '33930',
  'item_name': 'Arma 2: Operation Arrowhead',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '219540',
  'item_name': 'Arma 2: Operation Arrowhead Beta (Obsolete)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17410',
  'item_name': "Mirror's Edge",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205790',
  'item_name': 'Dota 2 Test',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50130',
  'item_name': 'Mafia II',
  'playtime_forever': 707,
  'playtime_2weeks': 0},
 {'item_id': '62100',
  'item_name': 'Chime',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '31280',
  'item_name': 'Poker Night at the Inventory',
  'playtime_forever': 206,
  'playtime_2weeks': 0},
 {'item_id': '57300',
  'item_name': 'Amnesia: The Dark Descent',
  'playtime_forever': 12,
  'playtime_2weeks': 0},
 {'item_id': '21970',
  'item_name': 'R.U.S.E',
  'playtime_forever': 64,
  'playtime_2weeks': 0},
 {'item_id': '8930',
  'item_name': "Sid Meier's Civilization V",
  'playtime_forever': 10345,
  'playtime_2weeks': 0},
 {'item_id': '41000',
  'item_name': 'Serious Sam HD: The First Encounter',
  'playtime_forever': 369,
  'playtime_2weeks': 0},
 {'item_id': '41050',
  'item_name': 'Serious Sam Classic: The First Encounter',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '41060',
  'item_name': 'Serious Sam Classic: The Second Encounter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '227780',
  'item_name': 'Serious Sam Classics: Revolution',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '18040',
  'item_name': 'DeathSpank',
  'playtime_forever': 594,
  'playtime_2weeks': 0},
 {'item_id': '22380',
  'item_name': 'Fallout: New Vegas',
  'playtime_forever': 43,
  'playtime_2weeks': 0},
 {'item_id': '42700',
  'item_name': 'Call of Duty: Black Ops',
  'playtime_forever': 966,
  'playtime_2weeks': 0},
 {'item_id': '42710',
  'item_name': 'Call of Duty: Black Ops - Multiplayer',
  'playtime_forever': 2452,
  'playtime_2weeks': 0},
 {'item_id': '62000',
  'item_name': 'Flight Control HD',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '40800',
  'item_name': 'Super Meat Boy',
  'playtime_forever': 119,
  'playtime_2weeks': 0},
 {'item_id': '9500',
  'item_name': 'Gish',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '18700',
  'item_name': 'And Yet It Moves',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31270',
  'item_name': 'Puzzle Agent',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '58200',
  'item_name': 'Jolly Rover',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70400',
  'item_name': "Recettear: An Item Shop's Tale",
  'playtime_forever': 537,
  'playtime_2weeks': 0},
 {'item_id': '41300',
  'item_name': 'Altitude',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '41800',
  'item_name': 'Gratuitous Space Battles',
  'playtime_forever': 149,
  'playtime_2weeks': 0},
 {'item_id': '42500',
  'item_name': 'DogFighter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49900',
  'item_name': 'Plain Sight',
  'playtime_forever': 23,
  'playtime_2weeks': 0},
 {'item_id': '55000',
  'item_name': 'Flotilla',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '34330',
  'item_name': 'Total War: SHOGUN 2',
  'playtime_forever': 1538,
  'playtime_2weeks': 0},
 {'item_id': '63200',
  'item_name': 'Monday Night Combat',
  'playtime_forever': 573,
  'playtime_2weeks': 0},
 {'item_id': '99810',
  'item_name': 'Bulletstorm',
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '620',
  'item_name': 'Portal 2',
  'playtime_forever': 887,
  'playtime_2weeks': 0},
 {'item_id': '42910',
  'item_name': 'Magicka',
  'playtime_forever': 588,
  'playtime_2weeks': 0},
 {'item_id': '15500',
  'item_name': 'The Wonderful End of the World',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15540',
  'item_name': '1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)',
  'playtime_forever': 4,
  'playtime_2weeks': 0},
 {'item_id': '18500',
  'item_name': 'Defense Grid: The Awakening',
  'playtime_forever': 126,
  'playtime_2weeks': 0},
 {'item_id': '26500',
  'item_name': 'Cogs',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '35460',
  'item_name': 'The Ball',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38700',
  'item_name': 'Toki Tori',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38720',
  'item_name': 'RUSH',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '63700',
  'item_name': 'BIT.TRIP BEAT',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '280',
  'item_name': 'Half-Life: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20920',
  'item_name': 'The Witcher 2: Assassins of Kings Enhanced Edition',
  'playtime_forever': 1343,
  'playtime_2weeks': 0},
 {'item_id': '105600',
  'item_name': 'Terraria',
  'playtime_forever': 772,
  'playtime_2weeks': 0},
 {'item_id': '98200',
  'item_name': 'Frozen Synapse',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '4500',
  'item_name': 'S.T.A.L.K.E.R.: Shadow of Chernobyl',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '4540',
  'item_name': 'Titan Quest',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '4550',
  'item_name': 'Titan Quest: Immortal Throne',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '9480',
  'item_name': 'Saints Row 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15620',
  'item_name': 'WarhammerÂ® 40,000â¢: Dawn of WarÂ® II',
  'playtime_forever': 2085,
  'playtime_2weeks': 0},
 {'item_id': '20500',
  'item_name': 'Red Faction: Guerrilla Steam Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20570',
  'item_name': 'WarhammerÂ® 40,000â¢: Dawn of WarÂ® II - Chaos Risingâ¢',
  'playtime_forever': 69,
  'playtime_2weeks': 0},
 {'item_id': '50620',
  'item_name': 'Darksiders',
  'playtime_forever': 101,
  'playtime_2weeks': 0},
 {'item_id': '55100',
  'item_name': 'Homefront',
  'playtime_forever': 51,
  'playtime_2weeks': 0},
 {'item_id': '55140',
  'item_name': 'MX vs. ATV Reflex',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '56400',
  'item_name': 'WarhammerÂ® 40,000â¢: Dawn of WarÂ® II â Retributionâ¢',
  'playtime_forever': 678,
  'playtime_2weeks': 0},
 {'item_id': '475150',
  'item_name': 'Titan Quest Anniversary Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '96100',
  'item_name': 'Defy Gravity',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '35450',
  'item_name': 'Rising Storm/Red Orchestra 2 Multiplayer',
  'playtime_forever': 14194,
  'playtime_2weeks': 0},
 {'item_id': '236830',
  'item_name': 'Red Orchestra 2: Heroes of Stalingrad - Single Player',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '72850',
  'item_name': 'The Elder Scrolls V: Skyrim',
  'playtime_forever': 2512,
  'playtime_2weeks': 0},
 {'item_id': '107100',
  'item_name': 'Bastion',
  'playtime_forever': 640,
  'playtime_2weeks': 0},
 {'item_id': '57690',
  'item_name': 'Tropico 4',
  'playtime_forever': 1815,
  'playtime_2weeks': 0},
 {'item_id': '91310',
  'item_name': 'Dead Island',
  'playtime_forever': 2078,
  'playtime_2weeks': 0},
 {'item_id': '113200',
  'item_name': 'The Binding of Isaac',
  'playtime_forever': 1494,
  'playtime_2weeks': 0},
 {'item_id': '65800',
  'item_name': 'Dungeon Defenders',
  'playtime_forever': 130,
  'playtime_2weeks': 0},
 {'item_id': '9200',
  'item_name': 'RAGE',
  'playtime_forever': 653,
  'playtime_2weeks': 0},
 {'item_id': '41070',
  'item_name': 'Serious Sam 3: BFE',
  'playtime_forever': 716,
  'playtime_2weeks': 0},
 {'item_id': '48950',
  'item_name': 'Greed Corp',
  'playtime_forever': 72,
  'playtime_2weeks': 0},
 {'item_id': '92800',
  'item_name': 'SpaceChem',
  'playtime_forever': 262,
  'playtime_2weeks': 0},
 {'item_id': '104700',
  'item_name': 'Super Monday Night Combat',
  'playtime_forever': 44,
  'playtime_2weeks': 0},
 {'item_id': '203770',
  'item_name': 'Crusader Kings II',
  'playtime_forever': 18,
  'playtime_2weeks': 0},
 {'item_id': '203810',
  'item_name': 'Dear Esther',
  'playtime_forever': 86,
  'playtime_2weeks': 0},
 {'item_id': '110800',
  'item_name': 'L.A. Noire',
  'playtime_forever': 1204,
  'playtime_2weeks': 0},
 {'item_id': '207610',
  'item_name': 'The Walking Dead',
  'playtime_forever': 798,
  'playtime_2weeks': 0},
 {'item_id': '98300',
  'item_name': 'Toy Soldiers',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '50300',
  'item_name': 'Spec Ops: The Line',
  'playtime_forever': 296,
  'playtime_2weeks': 0},
 {'item_id': '204300',
  'item_name': 'Awesomenauts',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '1700',
  'item_name': 'Arx Fatalis',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205100',
  'item_name': 'Dishonored',
  'playtime_forever': 1429,
  'playtime_2weeks': 0},
 {'item_id': '211120',
  'item_name': 'The Political Machine',
  'playtime_forever': 1,

In [8]:
df1 = df.explode("items") # la lista de la columna las pasamos a filas, y asi obtendremos mas registros

In [29]:
df1.head(3) # asi nos queda solo un diccionario en la columna "items"

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."

In [9]:
df1.reset_index(inplace = True) # reiniciamos el indice para tener un orden

In [10]:
df1.head(2)

,index,user_id,items_count,steam_id,user_url,items
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."

In [11]:
df1.drop(columns= "index",inplace= True) # borramos el indice viejo

In [15]:
df1 # observamos como queda nuestro DF

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [13]:
# aca descomprimo todo lo que hay en la columna de items, y lo hago columnas con las key del diccionario
df = pd.concat([df1, pd.json_normalize(df1["items"])], axis=1)

In [14]:
df.head(2)

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0.0,0.0

In [16]:
df.drop(columns=["steam_id","user_url", "items"], inplace= True) # borramos las columnas que no vamos a utilizar

In [17]:
df.head(2) # verificamos que se hayan eliminado

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,20,Team Fortress Classic,0.0,0.0

### verificamos si el "user_id" coincide con la de los otro dataset

In [18]:
df[df["user_id"]=="76561197970982479" ]

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...
272,76561197970982479,277,289130,Endless Legend,593.0,0.0
273,76561197970982479,277,268500,XCOM 2,1495.0,0.0
274,76561197970982479,277,461640,Sins Of The Demon RPG,0.0,0.0
275,76561197970982479,277,379720,DOOM,793.0,0.0
276,76561197970982479,277,273350,Evolve Stage 2,58.0,0.0

In [19]:
df.isna().sum() # volvemos a verificar si hay nulos, para tenerlos en cuenta en nuestro analisis exploratorio

user_id                 0
items_count             0
item_id             16806
item_name           16806
playtime_forever    16806
playtime_2weeks     16806
dtype: int64

In [20]:
df.to_parquet("clean_items") # lo guardamos en parquet, para que sea mas optimo en memoria

In [4]:
df.head(1)

,user_id,items_count,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,10.0,Counter-Strike,6.0,0.0

# <h1 align=center>**`ETL-reviws`**</h1>

In [21]:
review = []

with open("reviews.json", "r",encoding="utf-8") as archivo: # abro el json para guardarlo en una lista
    for linea in archivo:                           # hago el for para guardar linea por linea
        review.append(ast.literal_eval(linea))

In [22]:
df = pd.DataFrame(review) # convierto la lista en un dataFrame

In [23]:
df.head() # observo que tengo en el dataframe, y veo que en la columna review hay imformacion anidada

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [24]:
df["reviews"][0] # observo que hay distintos posteos del usuario

[{'funny': '',
  'posted': 'Posted November 5, 2011.',
  'last_edited': '',
  'item_id': '1250',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'},
 {'funny': '',
  'posted': 'Posted July 15, 2011.',
  'last_edited': '',
  'item_id': '22200',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "It's unique and worth a playthrough."},
 {'funny': '',
  'posted': 'Posted April 21, 2011.',
  'last_edited': '',
  'item_id': '43110',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]

In [25]:
df_reviews = df.explode("reviews").reset_index() # hago un explode para descrimir la lista de la columna reviews, y reseteo el indice nuevo

In [27]:
df_reviews.head() # vemos que se desanido de buena manera, pero sigue habiendo info comprimida en "reviews"

,index,user_id,user_url,reviews
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
2,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
3,1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
4,1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."

In [28]:
df_reviews = df_reviews .drop(columns="index") # borramos la columna index

In [29]:
df_reviews = pd.concat([df_reviews, pd.json_normalize(df_reviews["reviews"])], axis=1) # armo columnas con la info anidada en "reviews"

In [32]:
df_reviews.head() # observo que quede bien

,user_id,user_url,reviews,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20...",,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011....",,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011...",,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....",,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2...",,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [33]:
df_reviews.info() # vemos todas las columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   reviews      59305 non-null  object
 3   funny        59305 non-null  object
 4   posted       59305 non-null  object
 5   last_edited  59305 non-null  object
 6   item_id      59305 non-null  object
 7   helpful      59305 non-null  object
 8   recommend    59305 non-null  object
 9   review       59305 non-null  object
dtypes: object(10)
memory usage: 4.5+ MB

In [49]:
df_1 = df_reviews.drop(columns=["funny","last_edited","user_url"]) # saco las columnas que no creo necesarias

In [50]:
df_1.drop(columns="reviews",inplace=True) # considere que esta calumna tampoco es necesaria

In [51]:
df_1.head() # reviso el nuevo dataFrame sin las columnas

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [52]:
import nltk # importo la libreria "nltk" para realizar el analisis de sentimiento 
nltk.download("vader_lexicon")
from nltk.sentiment.vader import SentimentIntensityAnalyzer # importo la funcion

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [53]:
# guardo la funcion que necesito en una variable 
sia = SentimentIntensityAnalyzer()

In [54]:
# Desarrollo una funcion para asignar nuestra escala de analisis de sentimiento 
def get_sentiment_score(text):
    if pd.isnull(text) or text == '':
        return 1  # devuelve 1 si encontramos vacios o Nan
    elif isinstance(text, str):
        sentiment = sia.polarity_scores(text)
        compound_score = sentiment["compound"]
        if compound_score >= 0.05:
            return 2  # devolvemos 2 si considero que es positiva 
        elif compound_score <= -0.05:
            return 0  # devolvemos 0 si considero que es negativa 
        else:
            return 1
    else:
        return 1  # devuelve 1 si consideramos que es neutral

In [55]:
# la columna review necesito pasarla a string
df_1["review"] = df_1["review"].astype(str)

In [56]:
# aplico la funcion a la columna "review" para crear una nueva columna "sentiment_analysis" con los score correspondiente
df_1["sentiment_analysis"] = df_1["review"].apply(get_sentiment_score)

In [57]:
df_1.sentiment_analysis.value_counts() # observo si estan los 3 valores de nuestra escala

sentiment_analysis
2    37417
1    12304
0     9612
Name: count, dtype: int64

In [58]:
df_1.head(1) # veo que si se agrego la columna

,user_id,posted,item_id,helpful,recommend,review,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2

In [59]:
df_1["AÃ±o_posteo"] = df_1["posted"].str.extract(r"(\d{4})") # extraigo el aÃ±o de la columna posteo, para crear una columna aÃ±o

In [60]:
df_1 # observo que se cargo una columna con el aÃ±o de posteo, encuentro nulos

,user_id,posted,item_id,helpful,recommend,review,sentiment_analysis,AÃ±o_posteo
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2,2011
1,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.,2,2011
2,76561197970982479,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,2,2011
3,js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2,2014
4,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,2,2013
...,...,...,...,...,...,...,...,...
59328,76561198312638244,Posted July 10.,70,No ratings yet,True,a must have classic from steam definitely wort...,2,NaN
59329,76561198312638244,Posted July 8.,362890,No ratings yet,True,this game is a perfect remake of the original ...,2,NaN
59330,LydiaMorley,Posted July 3.,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,2,NaN
59331,LydiaMorley,Posted July 20.,730,No ratings yet,True,:D,2,NaN
59332,LydiaMorley,Posted July 2.,440,No ratings yet,True,so much fun :D,2,NaN

In [61]:
df_1.drop(columns=["posted","helpful","review"], inplace= True) # elimino las columnas que ya no necesito

In [62]:
df_1["AÃ±o_posteo"].fillna(0, inplace= True) # donde tengo Nan en la columna "aÃ±o_postero", colocamos un "0"

In [63]:
df_1["AÃ±o_posteo"] = df_1["AÃ±o_posteo"].astype("int") # convertimos en entero toda la columna

In [64]:
df_1 # reviso que todo los cambios se hicieran de manera correcta

                 user_id item_id recommend  sentiment_analysis  AÃ±o_posteo
0      76561197970982479    1250      True                   2        2011
1      76561197970982479   22200      True                   2        2011
2      76561197970982479   43110      True                   2        2011
3                js41637  251610      True                   2        2014
4                js41637  227300      True                   2        2013
...                  ...     ...       ...                 ...         ...
59328  76561198312638244      70      True                   2           0
59329  76561198312638244  362890      True                   2           0
59330        LydiaMorley  273110      True                   2           0
59331        LydiaMorley     730      True                   2           0
59332        LydiaMorley     440      True                   2           0

[59333 rows x 5 columns]

In [69]:
df_1.info() # observo que la info este bien

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59333 non-null  object
 1   item_id             59305 non-null  object
 2   recommend           59305 non-null  object
 3   sentiment_analysis  59333 non-null  int64
 4   AÃ±o_posteo          59333 non-null  int32
dtypes: int32(1), int64(1), object(3)
memory usage: 2.0+ MB

In [65]:
df_1.to_parquet("clean_review") # lo guardamos en parquet para que sea mas optimo en memoria

In [70]:
df_1 = pd.read_parquet("clean_review") # cargamos el parquet guardado, para revisar que este bien

In [67]:
df_1

                 user_id item_id recommend  sentiment_analysis  AÃ±o_posteo
0      76561197970982479    1250      True                   2        2011
1      76561197970982479   22200      True                   2        2011
2      76561197970982479   43110      True                   2        2011
3                js41637  251610      True                   2        2014
4                js41637  227300      True                   2        2013
...                  ...     ...       ...                 ...         ...
59328  76561198312638244      70      True                   2           0
59329  76561198312638244  362890      True                   2           0
59330        LydiaMorley  273110      True                   2           0
59331        LydiaMorley     730      True                   2           0
59332        LydiaMorley     440      True                   2           0

[59333 rows x 5 columns]

# <h1 align=center>**`ETL-steam games`**</h1>

In [48]:
steam = []

with open("output_steam_games.json", "r", encoding="Latin-1") as archivo: # abro el archivo 
    for linea in archivo: # creo un for para guardar linea por linea en una lista 
        try:
            objeto_json = json.loads(linea)
            steam.append(objeto_json) # aca lo guardamos en nuestra lista vacia
        except json.JSONDecodeError:
            print(f"Error de formato JSON en la lÃ­nea: {linea}")

In [49]:
df = pd.DataFrame(steam) # convierto la lista nueva en un dataFrame

In [50]:
df.head(2) # observo el df

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.describe(include= "all") # observo la informacion del mismo

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
count,24083,28852,32133,30085,32135,30068,31972,32133,31465,30758.00,32135,32133,28836
unique,8239,883,32094,30054,32135,3582,15395,32132,4649,162.00,2,32132,10992
top,Ubisoft,[Action],Soundtrack,Soundtrack,http://store.steampowered.com/app/761140/Lost_...,2012-10-16,"[Casual, Simulation]",http://steamcommunity.com/app/612880/reviews/?...,[Single-player],4.99,False,612880,Ubisoft - San Francisco
freq,385,1880,3,3,1,100,1292,2,2794,4278.00,30188,2,1259

In [7]:
df.info() # veo las columnas y cantidad de lineas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [7]:
lineas_nulas = df[df["id"].isna()] # observo todos los nulos del df
lineas_nulas

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88384,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,NaN,NaN,19.99,False,NaN,NaN
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [8]:
df2 = df # guardo el df en una nueva variable, para usarla de prueba

In [9]:
df2[df2["id"].isna()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88384,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,NaN,NaN,19.99,False,NaN,NaN
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",NaN,"[Single-player, Steam Achievements, Steam Trad...",19.99,False,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [10]:
df2_sin_nulos = df2.dropna(subset=["id"]) # elimino todas las filas, donde tenga nulos en la columna "id"

In [11]:
df2_sin_nulos # observo que se hayan eliminados

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,å½¼å²¸é¢å,"[Action, Adventure, Casual]",å¼¹ç¸äºº2222,å¼¹ç¸äºº2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,å½¼å²¸é¢å
88314,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [12]:
df2_sin_nulos.describe() # reviso la informacion

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
count,24082,28851,32132,30084,32133,30067,31971,32133,31464,30756.00,32133,32133,28835
unique,8239,883,32094,30054,32133,3582,15395,32132,4649,162.00,2,32132,10992
top,Ubisoft,[Action],Soundtrack,Soundtrack,http://store.steampowered.com/app/761140/Lost_...,2012-10-16,"[Casual, Simulation]",http://steamcommunity.com/app/612880/reviews/?...,[Single-player],4.99,False,612880,Ubisoft - San Francisco
freq,385,1880,3,3,1,100,1292,2,2794,4278.00,30186,2,1259

In [13]:
conteo = df2["id"].nunique() # realizo un conteo de los id unicos

In [14]:
conteo

32132

In [19]:
df2_sin_nulos[df2_sin_nulos["id"] == "1250"] # veo si coinciden con la infomarcion de los otros data set

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
119997,Tripwire Interactive,[Action],Killing Floor,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,"[FPS, Zombies, Co-op, Survival, Action, Multip...",http://steamcommunity.com/app/1250/reviews/?br...,"[Single-player, Multi-player, Co-op, Cross-Pla...",19.99,False,1250,Tripwire Interactive

In [15]:
# elimino las columnas que no considero necesaria para nuestro analisis
df2_sin_nulos.drop(columns=["publisher","title","url","tags","reviews_url","specs","early_access"],inplace= True)

In [16]:
df2_sin_nulos.reset_index(inplace=True) # reinicio el indice

In [17]:
df2_sin_nulos.drop(columns= "index", inplace= True) # borro la columna con los indices antiguos

In [18]:
df2_sin_nulos.head(2) # observo que en la columna "genres" hay una lista

,genres,app_name,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL

In [19]:
# guardo en una variable, para poder realizar mi analisis sin problemas de recuperar el original
df2 = df2_sin_nulos

In [ ]:
# donde haya vacion en la columna "genre" coloco vacios
df2["genres"] = df2["genres"].fillna("[]")

In [20]:
# aplico la funcion lambda a cada elemento de "genre", para separar cada elemento por ","
df2["genres"] = df2["genres"].apply(lambda x: "", "".join(x))

In [21]:
df2.head(1) # ya no estan cocatenadas

,genres,app_name,release_date,price,id,developer
0,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro

In [22]:
# aplico dummies a la columna "genre" para que me devuelva columnas con 0 y 1, asi saber si el juego es de esa categoria
df_dummies = df2["genres"].str.get_dummies(', ')

In [23]:
df_dummies.drop(columns=["[","]"], inplace= True) # borro la columnas donde ponia "[]" si tenia vacios

In [24]:
df_dummies

,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
32129,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32130,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
32131,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# cocateno la nueva tabla de dummies con la original 
dfNuevo = pd.concat([df2, df_dummies], axis=1)

In [26]:
dfNuevo.drop(columns="genres", inplace= True) # ahora si puedo eliminar la columna "genres"

In [27]:
dfNuevo.head(1) # observo como quedo la tabla final

,app_name,release_date,price,id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [28]:
id_column = dfNuevo.pop("id") # guardo la columna "id" en una variable
dfNuevo.insert(0, "id", id_column) # vuelvo a insertar la columna "id", pero en el indice 0 para que me quede como primer columna

In [29]:
df_nuevo = dfNuevo # guardo el df en una variablae, para poder manipularla

### Cambio el nombre de la columna "id" a "item_id", para poder trabajar con los otros data sets. Ya que considero que comparten la misma informacion

In [44]:
df_nuevo.rename(columns={"id":"item_id"}, inplace=True)

In [31]:
df_nuevo.isna().sum() # observo si hay nulos

id                              0
app_name                        1
release_date                 2066
price                        1377
developer                    3298
Accounting                      0
Action                          0
Adventure                       0
Animation &amp; Modeling        0
Audio Production                0
Casual                          0
Design &amp; Illustration       0
Early Access                    0
Education                       0
Free to Play                    0
Indie                           0
Massively Multiplayer           0
Photo Editing                   0
RPG                             0
Racing                          0
Simulation                      0
Software Training               0
Sports                          0
Strategy                        0
Utilities                       0
Video Production                0
Web Publishing                  0
dtype: int64

In [32]:
# creo una nueva columna con los aÃ±os del lanzamiento de juego
df_nuevo["AÃ±o_lanzamiento"] = df_nuevo["release_date"].str.extract(r"(\d{4})")

In [33]:
df_nuevo.drop(columns="release_date", inplace= True) # borro la columna que ya no necesito

In [34]:
df_nuevo # observo que todo se haya realizado bien

,id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,643980,Ironbound,Free To Play,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,670290,Real Pool 3D - Poolians,Free to Play,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,767400,å¼¹ç¸äºº2222,0.99,å½¼å²¸é¢å,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,773570,Log Challenge,2.99,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,773640,Colony On Mars,1.99,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
32129,733530,LOGistICAL: South Africa,4.99,Sacada,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2018
32130,610660,Russian Roads,1.99,Laush Dmitriy Sergeevich,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
32131,658870,EXIT 2 - Directions,4.99,"xropi,stev3ns",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
32132,681550,Maze Run VR,4.99,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [38]:
df_nuevo["price"].replace("",0,inplace= True) # reemplazo los vacios de la columna "price" por ceros

In [36]:
df_nuevo.fillna("",inplace=True)# reemplazo donde haya nulos por vacios

In [37]:
df_nuevo.head()

,id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,643980,Ironbound,Free To Play,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,670290,Real Pool 3D - Poolians,Free to Play,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,767400,å¼¹ç¸äºº2222,0.99,å½¼å²¸é¢å,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,773570,Log Challenge,2.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,

In [39]:
df_nuevo.isna().sum() # ahora observo si ya no tengo nulos

id                           0
app_name                     0
price                        0
developer                    0
Accounting                   0
Action                       0
Adventure                    0
Animation &amp; Modeling     0
Audio Production             0
Casual                       0
Design &amp; Illustration    0
Early Access                 0
Education                    0
Free to Play                 0
Indie                        0
Massively Multiplayer        0
Photo Editing                0
RPG                          0
Racing                       0
Simulation                   0
Software Training            0
Sports                       0
Strategy                     0
Utilities                    0
Video Production             0
Web Publishing               0
AÃ±o_lanzamiento              0
dtype: int64

In [40]:
df_nuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         32133 non-null  object
 1   app_name                   32133 non-null  object
 2   price                      32133 non-null  object
 3   developer                  32133 non-null  object
 4   Accounting                 32133 non-null  int64
 5   Action                     32133 non-null  int64
 6   Adventure                  32133 non-null  int64
 7   Animation &amp; Modeling   32133 non-null  int64
 8   Audio Production           32133 non-null  int64
 9   Casual                     32133 non-null  int64
 10  Design &amp; Illustration  32133 non-null  int64
 11  Early Access               32133 non-null  int64
 12  Education                  32133 non-null  int64
 13  Free to Play               32133 non-null  int64
 14  Indie                      32133 non-null  int64
 15  Massively Multiplayer      32133 non-null  int64
 16  Photo Editing              32133 non-null  int64
 17  RPG                        32133 non-null  int64
 18  Racing                     32133 non-null  int64
 19  Simulation                 32133 non-null  int64
 20  Software Training          32133 non-null  int64
 21  Sports                     32133 non-null  int64
 22  Strategy                   32133 non-null  int64
 23  Utilities                  32133 non-null  int64
 24  Video Production           32133 non-null  int64
 25  Web Publishing             32133 non-null  int64
 26  AÃ±o_lanzamiento            32133 non-null  object
dtypes: int64(22), object(5)
memory usage: 6.6+ MB

### En la columna price donde diga "Free to play" lo reemplazo por cero, ya que los considero como gratuitos

In [41]:
df_nuevo["price"].replace("Free To Play",0,inplace=True)
df_nuevo["price"].replace("Free to Play",0,inplace=True)

In [42]:
df_nuevo

,id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,643980,Ironbound,0,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,670290,Real Pool 3D - Poolians,0,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,767400,å¼¹ç¸äºº2222,0.99,å½¼å²¸é¢å,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,773570,Log Challenge,2.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,773640,Colony On Mars,1.99,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
32129,733530,LOGistICAL: South Africa,4.99,Sacada,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2018
32130,610660,Russian Roads,1.99,Laush Dmitriy Sergeevich,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
32131,658870,EXIT 2 - Directions,4.99,"xropi,stev3ns",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
32132,681550,Maze Run VR,4.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,

In [64]:
# aplico lambda a los elemento de "price" para saber todos los valores que no son precios 
string_prices = df_nuevo[df_nuevo["price"].apply(lambda x: isinstance(x, str))]
print(string_prices["price"].value_counts())

price
Free                             905
Free Mod                           4
Free Demo                          3
Play for Free!                     2
Third-party                        2
Play Now                           2
Install Now                        1
Play WARMACHINE: Tactics Demo      1
Install Theme                      1
Free HITMANâ¢ Holiday Pack          1
Play the Demo                      1
Starting at $499.00                1
Starting at $449.00                1
Free to Try                        1
Free Movie                         1
Free to Use                        1
Name: count, dtype: int64

In [45]:
df_nuevo

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,643980,Ironbound,0,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,670290,Real Pool 3D - Poolians,0,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,767400,å¼¹ç¸äºº2222,0.99,å½¼å²¸é¢å,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,773570,Log Challenge,2.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,773640,Colony On Mars,1.99,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
32129,733530,LOGistICAL: South Africa,4.99,Sacada,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2018
32130,610660,Russian Roads,1.99,Laush Dmitriy Sergeevich,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
32131,658870,EXIT 2 - Directions,4.99,"xropi,stev3ns",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
32132,681550,Maze Run VR,4.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,

In [74]:
null_values_df = df_nuevo[df_nuevo["price"].isna()] # observo si hay nulos en la columna precio
null_values_df

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
2404,268850,EVGA Precision XOC,<NA>,EVGA,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2014
2870,253510,WARMACHINE: Tactics,<NA>,WhiteMoon Dreams,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2014
3831,370880,FREE China Theme Pack,<NA>,Stolen Couch Games,0,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,2015
3917,362970,Parcel - Soundtrack,<NA>,Polar Bunny Ltd,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015
4025,345040,Oblivious Garden ~White Day,<NA>,"CorypheeSoft,DigitalEZ",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2015
22733,438920,Legends of Callasia,<NA>,Boomzap Entertainment,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2016
24999,353420,Syber Steam Machine,<NA>,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015
25000,353390,Alienware Steam Machine,<NA>,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2015
26216,383860,Area-X - Extra Gallery,<NA>,Zeiva Inc,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,2015
31836,3483,Peggle Extreme,<NA>,"PopCap Games, Inc.",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2007

### Guardo todos los string que considero gratuitos en una variable

In [68]:
gratuitos = ["Free To Play","Free to Play", "Free", "Play for Free!", "Free to Use","Free Demo","Free Mod","Free HITMANâ¢ Holiday Pack","Free to Try", "Free Movie"]

In [69]:
df_nuevo["price"] = df_nuevo["price"].replace(gratuitos, "0") # aca reemplazo por cero los valores que consideraba gratuitos

### Guardo los valores que considero que corresponde a sin dato en una variable

In [67]:
Sin_Dato = ["Install Now", "Play WARMACHINE: Tactics Demo", "Install Theme", "Third-party", "Play Now", "Play the Demo", "Starting at $499.00", "Starting at $449.00"]

In [70]:
df_nuevo["price"] = df_nuevo["price"].replace(Sin_Dato, pd.NA) # reemplazo a nulos los que considero sin dato

In [73]:
df_nuevo

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,AÃ±o_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,643980,Ironbound,0,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,670290,Real Pool 3D - Poolians,0,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,767400,å¼¹ç¸äºº2222,0.99,å½¼å²¸é¢å,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,773570,Log Challenge,2.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,773640,Colony On Mars,1.99,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
32129,733530,LOGistICAL: South Africa,4.99,Sacada,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2018
32130,610660,Russian Roads,1.99,Laush Dmitriy Sergeevich,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
32131,658870,EXIT 2 - Directions,4.99,"xropi,stev3ns",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
32132,681550,Maze Run VR,4.99,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,

In [72]:
df_nuevo.info() # observo que item_id esta definida en tipo "int64"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_id                    32133 non-null  int64
 1   app_name                   32132 non-null  object
 2   price                      32123 non-null  float64
 3   developer                  28835 non-null  object
 4   Accounting                 32133 non-null  int64
 5   Action                     32133 non-null  int64
 6   Adventure                  32133 non-null  int64
 7   Animation &amp; Modeling   32133 non-null  int64
 8   Audio Production           32133 non-null  int64
 9   Casual                     32133 non-null  int64
 10  Design &amp; Illustration  32133 non-null  int64
 11  Early Access               32133 non-null  int64
 12  Education                  32133 non-null  int64
 13  Free to Play               32133 non-null  int64
 14  Indie                      32133 non-null  int64
 15  Massively Multiplayer      32133 non-null  int64
 16  Photo Editing              32133 non-null  int64
 17  RPG                        32133 non-null  int64
 18  Racing                     32133 non-null  int64
 19  Simulation                 32133 non-null  int64
 20  Software Training          32133 non-null  int64
 21  Sports                     32133 non-null  int64
 22  Strategy                   32133 non-null  int64
 23  Utilities                  32133 non-null  int64
 24  Video Production           32133 non-null  int64
 25  Web Publishing             32133 non-null  int64
 26  AÃ±o_lanzamiento            29966 non-null  float64
dtypes: float64(2), int64(23), object(2)
memory usage: 6.6+ MB

In [73]:
# defino los "intem_id" a string para poder realizar luego un merge con los demas data sets
df_nuevo["item_id"] = df_nuevo["item_id"].astype("str")

In [74]:
df_nuevo.info() # verifico si se paso a string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_id                    32133 non-null  object
 1   app_name                   32132 non-null  object
 2   price                      32123 non-null  float64
 3   developer                  28835 non-null  object
 4   Accounting                 32133 non-null  int64
 5   Action                     32133 non-null  int64
 6   Adventure                  32133 non-null  int64
 7   Animation &amp; Modeling   32133 non-null  int64
 8   Audio Production           32133 non-null  int64
 9   Casual                     32133 non-null  int64
 10  Design &amp; Illustration  32133 non-null  int64
 11  Early Access               32133 non-null  int64
 12  Education                  32133 non-null  int64
 13  Free to Play               32133 non-null  int64
 14  Indie                      32133 non-null  int64
 15  Massively Multiplayer      32133 non-null  int64
 16  Photo Editing              32133 non-null  int64
 17  RPG                        32133 non-null  int64
 18  Racing                     32133 non-null  int64
 19  Simulation                 32133 non-null  int64
 20  Software Training          32133 non-null  int64
 21  Sports                     32133 non-null  int64
 22  Strategy                   32133 non-null  int64
 23  Utilities                  32133 non-null  int64
 24  Video Production           32133 non-null  int64
 25  Web Publishing             32133 non-null  int64
 26  AÃ±o_lanzamiento            29966 non-null  float64
dtypes: float64(2), int64(22), object(3)
memory usage: 6.6+ MB

In [75]:
df_nuevo.to_parquet("clean_steam_games") # lo guardamos en parquet, para que sea mas optimo en memoria